<?xml version="1.0" encoding="utf-8"?>
<settings>
  <textureResolution>0</textureResolution>
  <shadowResolution>VeryHigh</shadowResolution>
  <antiAliasing>1</antiAliasing>
  <vsync>1</vsync>
  <postProcessing>True</postProcessing>
  <globalVolume>1</globalVolume>
  <nusicVolume>-5,488949</nusicVolume>
  <soundsVolume>0</soundsVolume>
  <resolution>2560x1440</resolution>
</settings>